# n.b. use "git update-index --assume-unchanged prefstore.cfg" 
# when you customize this file with you're own settings 

[DatawareDB]
hostname: localhost
username: root
password: root
dbname: prefstore

[PrefstoreDB]
hostname: localhost 
username: root 
password: root 
dbname: prefstore

